 <!DOCTYPE html>
 <html>
    <head>
      <meta charset="utf-8">
      <title>Programeet</title>
      <script type="text/javascript" src="./bower_components/react/react.js"></script>
      <script type="text/javascript" src="./bower_components/react/react-dom.js"></script>
      <script type="text/javascript" src="./bower_components/react/react-dom-server.js"></script>
      <script type="text/javascript" src="./bower_components/axios/dist/axios.js"></script>
      <script type="text/javascript" src="./bower_components/materialize/dist/js/materialize.min.js"></script>

      <link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.css"/>
      <link rel="stylesheet" href="./css/style.min.css"/>
    </head>
    <body>
      <div id="body">

      </div>
      <script type="text/javascript" src="./js/bundle.js"></script>
    </body>
</html>
